@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cremiss";
  src: url("./fonts/cremiss.otf");
}

@font-face {
  font-family: "cremiss-sig";
  src: url("./fonts/cremiss-sig.otf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("./fonts/roboto-bold.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("./fonts/roboto-light.ttf");
}

@font-face {
  font-family: "roboto-regular";
  src: url("./fonts/roboto-regular.ttf");
}

html {
  scroll-behavior: smooth;
  color: white;
}
p,
span,
div {
  font-family: roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cremiss;
  letter-spacing: 4px;
  font-weight: 600;
}
