@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color: white;
}
p,
span,
div {
  font-family: lato;
  letter-spacing: 2px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: orbitron;
}

.gradient-text {
  background: linear-gradient(to right, #9f00c5, #e6007e, #e6007e);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari support */
  color: transparent;
}

.bg-gradient {
  background: linear-gradient(to right, #9f00c5, #e6007e, #e6007e);
}
